* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  background-color: #9ba9eb;

  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.password-manager-image {
  height: 40px;
}
.adding-password-bg-container {
  background-color: #5763a5;
  height: 50vh;
  width: 80vw;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.user-passwords-bg-container {
  background-color: #5763a5;
  height: 50vh;
  width: 80vw;
  margin: 5px;
  padding: 25px;
}
.adding-password-card-container {
  background-color: #454f84;
  height: 80%;
  width: 50%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adding-password-image {
  height: 80%;
  width: 50%;
}
.user-input-container {
  background-color: #ffffff;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
.registering-icon {
  height: 35px;
  width: 35px;
  padding: 3px;
}
.user-input {
  height: 35px;
  width: 100%;
  color: #64748b;
}
.user-details {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
}
.add-btn {
  background-color: #0b69ff;
  height: 30px;
  width: 70px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  border-radius: 5px;
  border-width: 0px;
  cursor: pointer;
}
.user-given-passwords-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.each-password-container {
  height: 12%;
  width: 40%;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.web-name-password-container {
  width: 60%;
  margin-left: 20px;
}
.delete-btn {
  background-color: transparent;
  border-width: 0px;
}
.delete-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.user-initial {
  background-color: #10b981;
  height: 45px;
  width: 10%;
  border-radius: 45px;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.passwords-header-separator {
  color: #94a3b8;
  height: 2px;
  width: 100%;
}
.passwords-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.search-icon {
  height: 25px;
  width: 25px;
}
.search-placeholder {
  font-size: 15px;
  color: #64748b;
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.encrypted-password-image {
  width: 60%;
}

.no-passwords-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-passwords-image {
  height: 200px;
  width: 350px;
  background-size: cover;
}
.passwords-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 25px;
}
.your-passwords-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
}
.passwords-count {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  padding: 6px;
  border-radius: 14px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
}
.show-passwords-label {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
}
